/* -- Global -- */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* -- Default/Light Mode -- */
  --bg-color-primary: #f1f1f1;
  --bg-color-secondary: rgba(235, 235, 235, 0.5);
  --text-primary: #111;
  --text-secondary: #333;
  --color-white: #f2f2f2;
  --cta-primary: #0ab635;
  --box-color: #e4e4e4;
  --highlight: #47b147;
  --box-shadow: 2px 2px 2px rgba(34, 34, 34, 0.3),
    2px 2px 2px rgba(34, 34, 34, 0.3);
}

/* -- Dark Mode -- */
[data-theme-color="dark"] {
  --bg-color-primary: #010116;
  --bg-color-secondary: #0a0a1f;
  --text-primary: #001;
  --color-white: #f6f6f6;
  --text-secondary: #f6f6f6;
  --cta-primary: #00d46a;
  --box-color: #0a0a1a;
  --highlight: #0c9;
  --box-shadow: 2px 2px 2px rgba(98, 98, 98, 0.3),
    2px 2px 2px rgba(98, 98, 98, 0.3);
}

/* Theme switch */
.theme-switch {
  cursor: pointer;
  margin-left: 10px;
}

.brighten {
  display: none;
  cursor: pointer;
}

#toggle-switch {
  display: none;
}

.light-logo {
  display: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--text-secondary);
  text-decoration: none;
}

sup {
  color: var(--highlight);
  font-size: 0.55rem;
}

.fa-long-arrow-alt-right,
.fa-chevron-right {
  padding-left: 10px;
}

.fa-long-arrow-alt-right:hover,
.fa-chevron-right:hover {
  padding-left: 12px;
}

.scroll-btn {
  background-color: var(--cta-primary);
  border-radius: 50%;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  position: fixed;
  right: 32px;
  bottom: -80px;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease;
}

.scroll-btn.active {
  pointer-events: auto;
  bottom: 25px;
  opacity: 1;
}

.scroll-btn:hover {
  background-color: var(--highlight);
}

.scroll-btn:hover i {
  transform: translateY(-5px);
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.hamburger-menu .bar {
  background-color: var(--text-secondary);
  transition: 0.5s;
  width: 2.1rem;
  height: 3px;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 2.1rem;
  height: 3px;
  border-radius: 3px;
  background-color: var(--text-secondary);
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

/* -- Media Queries-- */
@media (max-width: 908px) {
  nav {
    padding: 0 50px !important;
  }

  nav ul {
    margin-right: 0px !important;
    justify-content: unset !important;
  }

  .about {
    padding: 0 50px !important;
  }

  .about-container {
    flex-direction: column;
    margin-top: 0px;
  }

  main {
    height: auto !important;
  }

  .left {
    margin-bottom: 150px !important;
  }

  .hero {
    padding: 160px 50px 0px !important;
  }

  .hero::after {
    display: none;
  }

  .background {
    padding-left: 0px !important;
    margin-top: 50px !important;
  }

  .project-container {
    margin-bottom: 30px !important;
    padding: 0 25px !important;
  }

  .project-text {
    top: 12px !important;
  }

  .tools {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .article-wrapper {
    padding: 5px 45px 30px !important;
  }

  .article-title {
    font-size: 0.85rem;
  }

  .article-intro {
    font-size: 0.75rem !important;
  }
}

@media (max-width: 700px) {
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    padding: 0 0 40px;
  }

  nav .nav-links {
    background-color: var(--bg-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    position: fixed;
    right: -100vw;
    top: 72px;
    height: 100vh;
    width: 100vw;
    transition: all 0.5s ease-in-out;
  }

  .nav-links li {
    padding: 20px 0px;
  }

  .nav-links.active {
    right: 0px;
    opacity: 0.95;
  }

  .hamburger-menu.active .bar {
    background-color: transparent;
    transform: rotate(360deg);
  }

  .hamburger-menu.active .bar:before {
    transform: translateY(0) rotate(45deg);
  }

  .hamburger-menu.active .bar:after {
    transform: translateY(0) rotate(-45deg);
  }

  .hamburger-menu {
    display: block;
  }

  main {
    height: auto !important;
  }

  .hero {
    padding: 70px 80px 70px !important;
  }

  .hero::after {
    display: none;
  }

  .left {
    margin-bottom: 50px !important;
    margin-top: 30px !important;
  }

  .left h1 {
    font-size: 3rem !important;
  }

  .left p {
    width: 100% !important;
  }

  .about {
    padding: 0 80px;
  }

  .about-container {
    flex-direction: column;
    margin-top: 0px;
  }

  .photo {
    width: 240px !important;
  }

  .background {
    padding-left: 0px !important;
    padding-top: 20px !important;
  }

  .tools {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
  }

  .tools ul li {
    padding: 0px !important;
    margin-top: 5px !important;
    font-size: 0.9rem;
  }

  .filter-btn {
    padding: 5px 8px !important;
    margin: 0 5px !important;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .project-text {
    top: 15px !important;
  }

  .article-wrapper {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) and (min-width: 350px) {
  nav {
    padding: 0 30px !important;
  }

  .hero {
    padding: 70px 30px 70px !important;
  }

  .left {
    margin-top: 60px !important;
  }

  .left span {
    font-size: 1rem !important;
  }

  .left h1 {
    font-size: 2.8rem !important;
  }

  .left p {
    width: 100% !important;
  }

  .left a {
    font-size: 0.7rem !important;
  }

  .about {
    padding: 0 30px !important;
    width: 100% !important;
  }

  .about p {
    font-size: 0.8rem;
    width: 100% !important;
  }

  .photo {
    width: 200px !important;
  }

  .tools {
    padding-bottom: 25px !important;
  }

  .tools li {
    font-size: 0.8rem;
  }

  .projects {
    padding: 20px 30px !important;
  }

  .project {
    padding: 30px 0 !important;
  }

  .project-box {
    max-height: 240px !important;
  }

  .project-content {
    margin-top: 0 !important;
  }

  .project-text {
    top: 0 !important;
  }

  .project-text h3 {
    font-size: 0.85rem !important;
  }

  .project-text p {
    font-size: 0.75rem;
  }

  .project-link img {
    width: 25px !important;
  }

  .article {
    margin: 0 auto !important;
    width: 100% !important;
  }

  .article-title {
    font-size: 1rem;
  }

  .article-wrapper {
    padding: 5px 30px 30px !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .contact {
    margin: 40px 30px !important;
  }

  #contact-form {
    margin: 0 auto 30px !important;
  }

  .form-text p {
    font-size: 0.8rem;
  }
}

@media (max-width: 349px) {
  nav {
    padding: 0 25px !important;
  }

  .hero {
    padding: 50px 25px !important;
  }

  .left span {
    font-size: 0.9rem;
  }

  .left h1 {
    font-size: 2rem !important;
  }

  .left p {
    font-size: 0.85rem;
  }

  .left a {
    font-size: 0.6rem !important;
  }

  .photo {
    width: 200px !important;
  }

  .about {
    padding: 0 25px !important;
  }

  .about p,
  .tools ul li,
  .form-text p,
  footer a {
    font-size: 0.75rem !important;
  }

  .project-box {
    max-height: 180px !important;
  }

  .project-text p {
    font-size: 0.45rem !important;
  }

  .project-container {
    padding: 0 25px !important;
  }

  .project {
    padding: 30px 0 !important;
  }

  .article-wrapper {
    padding: 10px 25px 30px !important;
    font-size: 0.75rem !important;
    flex-direction: column !important;
  }

  .article-preview {
    margin-top: 0 !important;
    padding: 12px !important;
  }

  .article-title {
    font-size: 1rem !important;
  }

  .contact {
    margin: 30px 25px !important;
  }

  #contact-form {
    padding: 10px 12px !important;
    margin: 0 auto 40px !important;
  }

  label {
    font-size: 0.85rem !important;
  }

  input {
    border-bottom: none;
  }

  input,
  textarea {
    padding: 6px 15px !important;
    margin: 8px 0 10px !important;
  }

  .contact-btn {
    font-size: 0.85rem !important;
  }

  .footer-socials {
    margin: 15px 0 !important;
  }

  .copyright {
    font-size: 0.5rem !important;
  }
}
